@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #111111;
}


.grid-item {
  @apply relative;
}

.grid-item img {
  @apply w-full h-auto;
}

@media (min-width: 640px) {
  .grid-item:nth-child(3n+1) {
    @apply col-span-2 row-span-2;
  }
}

@media (min-width: 768px) {
  .grid-item:nth-child(4n+1) {
    @apply col-span-2 row-span-2;
  }
}

@media (min-width: 1024px) {
  .grid-item:nth-child(5n+1) {
    @apply col-span-2 row-span-2;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: rgb(45 212 191);
  animation: spin 1s infinite linear;
}

.radial-gradient {
  position: absolute;
  z-index: 40;
  inset: 0px;
}

@media screen and (min-width: 1024px) {
  .radial-gradient {
    position: absolute;
    z-index: 40;
    inset: 0px;
    transition-duration: 300ms;
    opacity: 0;
    cursor: zoom-in;
    background-image: radial-gradient(circle at center, transparent, rgba(0, 0, 0, .1), rgba(0, 0, 0, .4));
  }

  .radial-gradient:hover {
    opacity: 1;
  }
}