@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #111111;
}


.grid-item {
  @apply relative;
}

.grid-item img {
  @apply w-full h-auto;
}

@media (min-width: 640px) {
  .grid-item:nth-child(3n+1) {
    @apply col-span-2 row-span-2;
  }
}

@media (min-width: 768px) {
  .grid-item:nth-child(4n+1) {
    @apply col-span-2 row-span-2;
  }
}

@media (min-width: 1024px) {
  .grid-item:nth-child(5n+1) {
    @apply col-span-2 row-span-2;
  }
}